<div class="text-center" style="padding:50px 0">
    <div class="logo">login</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <div class="text-center">
            <a href="/auth/provider" class="btn btn-primary btn-lg btn-block btn-huge">Login</a>
        </div>
    </div>
</div>