<html>

<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href="./css/styles.css" rel="stylesheet" type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="https://staging-auth-manager.wallstreetdocs.com/img/WSD-Logo.png">
                </a>
                <h2 class="navbar-text navbar-right">Code Test</h2>
            </div>
        </div>
    </nav>
    {{{body}}}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <h2 class="navbar-text navbar-left"><a href="https://www.wallstreetdocs.com/">About us</a></h2>
        </div>
    </nav>
</body>

</html>