<div class="text-center" style="padding:50px 0">
    <div class="logo">Welcome, {{display_name}}!</div>
    <div class="card hovercard">
        <div class="cardheader">

        </div>
        <div class="card w-50">
            <div class="card-block">
                <div class="card-title">
                    <a target="_blank" href="http://www.google.com/search?q={{organisation_name}}">Organisation: {{organisation_name}}</a>
                </div>
                <div class="card-text">Username: {{display_name}}</div>
                <div class="card-text">WSD User ID: {{id}}</div>
                <div class="card-text">First Name: {{name.given_name}}</div>
                <div class="card-text">Last Name: {{name.family_name}}</div>
                <div class="card-text">User Type: {{user_type}}</div>
            </div>
        </div>
    </div>
</div>
<script src="../js/plugin.js"></script>
<script>
    $.trackMouse("Brought to you by {{organisation_name}}");
</script>
