html,
body {
    background: #b9c4c7;
    padding: 10px;
    font-family: 'Inconsolata';
    padding-bottom: 70px;
}

.logo {
    padding: 15px 0;
    font-size: 25px;
    color: #aaaaaa;
    font-weight: bold;
}

.card {
    background-color: aliceblue;
    width: 50%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}